# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.*

# Go workspace file
go.work
go.work.sum

# Dependency directories (vendor directory if you use `go mod vendor`)
vendor/

# IDE / Editor specific files
# VS Code
.vscode/

# JetBrains (GoLand, IntelliJ)
.idea/

# Mac OS system files
.DS_Store

# Log files
*.log

# Environment variables file
.env
.env.*
